[2022-06-01 08:11] Exonkenz commented on #99
The spreadsheet contains the design resource information that other designers can find useful however, they are not necessarily relevant to the issue.

[2022-06-01 14:35] SheIsBukki commented on #92
#### Onboard
- [ ] Slack channel membership
  - [ ] ```#guides```
- [ ] Add to Google calendar invites
   - [ ] Monday - Team meeting, Wednesday - New Members meeting, Friday - Team meeting
- [ ] Add to team page on Wiki
- [ ] Google Drive
   - [ ] Add to drive as Manager
- [ ] Roaster
  - [ ] Send link
  - [ ] Team member adds themselves
  - [ ] Check for Public and note in roaster
  - [ ] Check

[2022-06-01 14:42] puruke1 opened #106 "Onboarding: CHE FRANCIS NDIKUM"
### Prerequisite
- You have done the steps in this wiki page for onboarding new team members https://github.com/hackforla/guides/wiki/Joining-the-Team

### Overview
We need an unbiased review of the gather presentation so that we can improve it.

#### Additional Details
You will be working on guide during this issue, but the purpose of this issue is to evaluate and improve the Gather Examples and

[2022-06-03 12:16] SheIsBukki opened #107 "We Need to Sort Out Guide Issues With Action Items That Are Too Complex to be Addressed With One Guide"
### Overview
We need to assess all guide issues to fish out the guide issues that are too complicated to be resolved with one guide issue. This will lead us to simplify these unclear guide issues.

### Action Items
- [ ] Go through each CoP or Project's guide issues
- [ ] Make a list of the unclear guide issues in each CoP or Project
- [ ] Comment about what makes each guide issue unclear and why

[2022-06-03 14:19] Evon081 commented on #85
Still waiting on a response from providence

[2022-06-03 14:28] Evon081 commented on #85
UPDATE
-The meeting with Kylani on Tuesday didn't hold due to a time misunderstanding.
we are working to fix a suitable time for us.
-I will meet with Sean Sada between the 4th and the 6th when he said he will be available. however, we havn't fixed a time and a date.
-

[2022-06-03 14:37] ExperimentsInHonesty commented on #94
@FeyiA Can you provide the link to the page where you are seeing the link to this
[product management google drive](https://drive.google.com/drive/folders/1lO8k_0Z1UejkuRlNMYlUl2xlqgyBmvrF?usp=sharing)

Its a link to a drive we don't use anymore and I want to update it with the new location.

[2022-06-06 09:03] designer2209 commented on #100
Started gathering examples from the Issues Tab of the projects.

Need access to some files to review them, I have mentioned them in my [comment](https://github.com/hackforla/UI-UX/issues/24#issuecomment-1147220279) on the guide issue.

I might have about 4-6 hours this week as I now have a job (yay).

[2022-06-06 11:13] Tola-Fame commented on #101
@ExperimentsInHonesty I want to go on a break and will be back on the 25th of July. Thank you.

[2022-06-06 14:31] FeyiA commented on #94
@ExperimentsInHonesty it's instructions for creating a guide page

https://github.com/hackforla/product-management/issues/73

![image](https://user-images.githubusercontent.com/101159525/172181699-e8916ece-9324-474f-aac2-1a4df07c8f68.PNG)

[2022-06-06 14:37] SheIsBukki commented on #102
@DMLROG Please provide an update

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures (if necessary): "Add any pictures that will help illustrate what you are w

[2022-06-06 14:50] SheIsBukki commented on #82
## 2022-06-06 Meeting Agenda
- 7:30 am PST / 4:30 pm WAT Day of Meeting:
- [ ] Monday
- [ ] Wednesday
- [ ] Friday

### Prework to prep for meeting
- [x] Weekly Label Check #
- [x] Recruiting Issues

### Recurring items: Happens on the Friday meeting
- [ ] Check issues in [Waiting for Response column of All Hack for LA Guides Tracker](https://github.com/orgs/hackforla/projects/3?card_filter_query=

[2022-06-10 13:07] DMLROG commented on #102
@ExperimentsInHonesty Yes. I spoke to @SheIsBukki about it at it made sense controlling or securing access to the data so that's okay.

[2022-06-10 15:31] SheIsBukki commented on #82
## 2022-06-10 Meeting Agenda
- 7:30 am PST / 4:30 pm WAT Day of Meeting:
- [x] Monday
- [ ] Wednesday
- [ ] Friday

### Prework to prep for meeting
- [x] Weekly Label Check #
- [x] Recruiting Issues

### Recurring items: Happens on the Friday meeting
- [ ] Check issues in [Waiting for Response column of All Hack for LA Guides Tracker](https://github.com/orgs/hackforla/projects/3?card_filter_query=

[2022-06-13 14:28] ExperimentsInHonesty commented on #85
@Evon081 Please provide update
1. Progress: "What is the current status of your project? What have you completed and what is left to do?"
2. Blockers: "Difficulties or errors encountered."
3. Availability: "How much time will you have this week to work on this issue?"
4. ETA: "When do you expect this issue to be completed?"
5. Pictures (if necessary): "Add any pictures that will help illustrate wh

[2022-06-13 14:59] SheIsBukki commented on #82
## 2022-06-13 Meeting Agenda
- 7:30 am PST / 4:30 pm WAT Day of Meeting:
- [ ] Monday
- [ ] Wednesday
- [x] Friday

### Prework to prep for meeting
- [x] Weekly Label Check #
- [x] Recruiting Issues

### Recurring items: Happens on the Friday meeting
- [ ] Check issues in [Waiting for Response column of All Hack for LA Guides Tracker](https://github.com/orgs/hackforla/projects/3?card_filter_query=

[2022-06-13 15:11] ExperimentsInHonesty commented on #99
Exon is going to pause working on the guide and work on slides in the gather presentation.  He will write the summary of what they learned (as short as possible) and the section content slide.

- [41](https://docs.google.com/presentation/d/1gkPpgnOPv7lBckoLic3HAA7z_IkeTnCw9ImQp9hkujM/edit#slide=id.g133aaa1b952_0_112)
- [43](https://docs.google.com/presentation/d/1gkPpgnOPv7lBckoLic3HAA7z_IkeTnCw9I

[2022-06-13 15:14] ExperimentsInHonesty commented on #101
@Tola-Fame, thats fine.  Please unassign yourself from the guide issue https://github.com/hackforla/product-management/issues/22 and put it back into the prioritized backlog.

We will check on you again 2022-07-25

[2022-06-15 14:35] Evon081 commented on #85
UPDATE:
- I still haven't had a meeting with kaylani.
  After we couldn't have the last scheduled meeting, she has not responded to my last message on the slack channel.
   i needed an email to schedule a meeting.
- Sean Sada hasn't responded about his availability after 6th of june.
- Providence is also irresponsive.

[2022-06-16 17:53] designer2209 commented on #100
Finished gathering examples from the Issues Tab of the projects and will be moving on to the "Project Board Card Links", throughout the next week (hopefully will be done before next Friday).

Need access to some files to review them, I have mentioned them in my [comment](https://github.com/hackforla/UI-UX/issues/24#issuecomment-1155462835) on the guide issue.

[2022-06-17 14:07] DMLROG commented on #102
Progress: Found some more resources and I've gone through the GreenEarthOS project now.
Blockers: Need access to some files. I made a list of all of them in my comment here- https://github.com/hackforla/product-management/issues/80#issuecomment-1158904349
Availability: 3 hours.
ETA: Still can't say yet.
Pictures (if necessary): None at the moment.

[2022-06-17 14:32] SheIsBukki commented on #82
## 2022-06-17 Meeting Agenda
- 7:30 am PST / 4:30 pm WAT Day of Meeting:
- [x] Monday
- [ ] Friday

### Prework to prep for meeting
- [x] Weekly Label Check #
- [x] Recruiting Issues

### Recurring items: Happens on the Friday meeting
- [ ] Check issues in [Waiting for Response column of All Hack for LA Guides Tracker](https://github.com/orgs/hackforla/projects/3?card_filter_query=waiting+for+resp

[2022-06-17 14:39] Evon081 commented on #85
-I have a meeting with Kalyani tomorrow 12:15am WAT.
-No response from sean sada
-No response from Providence

[2022-06-17 14:48] SheIsBukki commented on #106
@puruke1 please provide an update

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures (if necessary): "Add any pictures that will help illustrate what you are

[2022-06-17 15:17] ExperimentsInHonesty commented on #100
I gave access to all the assets and found some additional links for @designer2209

[2022-06-17 15:21] edwardsarah opened #108 "Onboarding: Sarah Edwards"
### Prerequisite
- You have done the steps in this wiki page for onboarding new team members https://github.com/hackforla/guides/wiki/Joining-the-Team

### Overview
We need an unbiased review of the gather presentation so that we can improve it.

#### Additional Details
You will be working on guide during this issue, but the purpose of this issue is to evaluate and improve the Gather Examples and

[2022-06-17 15:34] ExperimentsInHonesty commented on #99
Provided feedback and @Exonkenz is going to continue working on slides above

[2022-06-17 15:55] Exonkenz commented on #99
I am done working on the [slides](https://docs.google.com/presentation/d/1gkPpgnOPv7lBckoLic3HAA7z_IkeTnCw9ImQp9hkujM/edit#slide=id.g133aaa1b952_0_112)(https://docs.google.com/presentation/d/1gkPpgnOPv7lBckoLic3HAA7z_IkeTnCw9ImQp9hkujM/edit#slide=id.g133aaa1b952_0_120) (https://docs.google.com/presentation/d/1gkPpgnOPv7lBckoLic3HAA7z_IkeTnCw9ImQp9hkujM/edit#slide=id.g133aaa1b952_0_130) and Bonnie

[2022-06-17 15:59] ExperimentsInHonesty commented on #99
Go through the presentation, looking for words that are not already in our [glossary](https://github.com/hackforla/guides/wiki/Glossary) and add them to this issue #103

[2022-06-17 16:22] ExperimentsInHonesty commented on #94
@FeyiA I updated your guide issue with a new link.  The old link is to the old drive.  This is what it looks like now
![image](https://user-images.githubusercontent.com/37763229/174337937-716c2e36-9a49-42fe-ba6f-0ccf13901271.png)

Thanks for letting us know that was going to the old resource.  We have updated the template in the PM repo too.

[2022-06-20 02:59] edwardsarah commented on #108
1. Progress: "What is the current status of your project? What have you completed and what is left to do?"
I've done an initial pass through the wikis, issues, and project boards for almost all of the active projects. I've followed the presentation on gathering examples until about slide 32. I still need to go through the wikis, issues, and project boards for 100 Automations and the Hack for LA we

[2022-06-20 10:12] Exonkenz commented on #103
The word "Template" is used a lot in the Gather Presentation [slide](https://docs.google.com/presentation/d/1gkPpgnOPv7lBckoLic3HAA7z_IkeTnCw9ImQp9hkujM/). It should be included in the [Glossary spreadsheet](https://docs.google.com/spreadsheets/d/175pDnr-izub36J0xya6m9rSfIico6XnsStUz9KHSWIA/)

The word "Author" is used in the Gather Presentation [slide](https://docs.google.com/presentation/d/1gkPp

[2022-06-20 13:02] SheIsBukki commented on #107
### Product Management Guide Issues to Review

- https://github.com/hackforla/product-management/issues/278
- https://github.com/hackforla/product-management/issues/22
- https://github.com/hackforla/product-management/issues/205

[2022-06-20 14:48] SheIsBukki commented on #108
@ExperimentsInHonesty Sarah needs access to these https://github.com/hackforla/product-management/issues/183#issuecomment-1159922485

[2022-06-20 14:51] SheIsBukki commented on #82
## 2022-06-20 Meeting Agenda
- 7:30 am PST / 4:30 pm WAT Day of Meeting:
- [ ] Monday
- [x] Friday

### Prework to prep for meeting
- [x] Weekly Label Check #
- [x] Recruiting Issues

### Recurring items: Happens on the Friday meeting
- [ ] Check issues in [Waiting for Response column of All Hack for LA Guides Tracker](https://github.com/orgs/hackforla/projects/3?card_filter_query=waiting+for+resp

[2022-06-20 15:07] SheIsBukki commented on #85
@Evon081 Please provide an update

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures (if necessary): "Add any pictures that will help illustrate what you are

[2022-06-20 17:47] SheIsBukki commented on #106
@puruke1 commented on June 17 on Slack [here](https://hackforla.slack.com/archives/C028T9XU9S5/p1655471427442589)

"Hello team, sorry I am sick with malaria, will be taking a few days off to recover, once I feel better I will get back to working on my guide."

[2022-06-21 19:26] nyarly opened #109 "Missing/Broken Guide tracker links in Wiki"
### Overview

* The text for a Devops guide tracker in the wiki isn't a link.
* The link for Engineering Guides leads to an empty search. Changing the search to just "guides" in the engineering issues list reveals that there are several guides in progress.

I have not surveyed all the wiki links to see what their status was..

### Resources/Instructions
https://github.com/hackforla/guides/wiki/Gui

[2022-06-21 19:34] nyarly opened #110 "Feature Suggestion: Index of complete guides in the wiki"
### Overview

As a new member of Hack4LA, I would like to have a single resource to find the guides I need to be effective.

### Feature

* A page in the Guides Wiki, titled something like "Guides Index," organized by CoP, with links to completed guides.
* Addition to the H4LA onboarding to reference the index
* Ongoing: new completed guides added to the index

The biggest obstacle to producing an

[2022-06-24 01:33] edwardsarah commented on #108
Progress: Finished looking at the slack channels for all of the active projects except Brigade Organizer's Playbook.
Blockers: Waiting on access to the Code for America slack to check the Brigade Organizer's Playbook channel, which could take a few hours. Haven't yet gotten access to files listed above, will reach out to the teams directly if not resolved this weekend.
Availability: This weekend,

[2022-06-24 15:00] SheIsBukki commented on #106
@puruke1 Hope you get well soon, I will check back on 27th June to see how you're doing

[2022-06-24 15:05] SheIsBukki commented on #91
Will send https://github.com/hackforla/guides/issues/102 week 2 message on July 1

[2022-06-24 15:08] SheIsBukki commented on #99
Exon left a comment on [Slack](https://hackforla.slack.com/archives/C028T9XU9S5/p1656066049245959) on 24th of June

"Hey team. I won't be making it to the meeting today. Been having electricity issues all week. Thanks"

[2022-06-24 15:20] designer2209 commented on #100
Added a note in the [GT: Notes on Gather presentation - Prakhar](https://docs.google.com/document/d/11-DsvNj36EXL8pZSrTCwDI_KsM9qtGA3GbOGQ9HT0pI/edit?usp=sharing) regarding confusion I had on [Method 3](https://docs.google.com/presentation/d/1gkPpgnOPv7lBckoLic3HAA7z_IkeTnCw9ImQp9hkujM/edit#slide=id.gfcb8642ab3_2_168)

[2022-06-27 14:19] edwardsarah commented on #108
Progress: Finished looking at project boars for Hack for LA's website and the internship project. This week i'm hoping to take a final look for any resources in wikis/issues/slack and start reaching out to teams.
Blockers: Just the issue with file access. No new blockers.
Availability: 4+ hours between now and Friday
ETA: Still unclear.
Pictures (if necessary):

[2022-06-27 14:49] SheIsBukki commented on #106
@puruke1 Please provide an update

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures (if necessary): "Add any pictures that will help illustrate what you are

[2022-06-27 14:54] SheIsBukki commented on #91
Will send https://github.com/hackforla/guides/issues/94 week 2 message on July 8

[2022-06-27 14:55] SheIsBukki commented on #91
Will send https://github.com/hackforla/guides/issues/85 week 2 message on July 8

[2022-06-27 14:56] SheIsBukki commented on #82
## 2022-06-27 Meeting Agenda
- 7:30 am PST / 4:30 pm WAT Day of Meeting:
- [ ] Monday
- [x] Friday

### Prework to prep for meeting
- [x] Weekly Label Check #
- [x] Recruiting Issues

### Recurring items: Happens on the Friday meeting
- [ ] Check issues in [Waiting for Response column of All Hack for LA Guides Tracker](https://github.com/orgs/hackforla/projects/3?card_filter_query=waiting+for+resp

[2022-06-29 00:24] DMLROG commented on #102
@ExperimentsInHonesty @SheIsBukki

Progress: —
Blockers: I'm currently moving apartments so I haven't been able to do much. I should have an update by next week when all this is over.
Availability: —
ETA: —
Pictures (if necessary): —

[2022-07-01 13:38] edwardsarah commented on #108
Progress: Less than anticipated, started making a list of people on each team to contact. This weekend I will reach out to all teams that I don't yet have examples from to see if they have presentation decks they can share with me.
Blockers: None
Availability: At least 3 hours on Sunday
ETA: Still unclear.
Pictures (if necessary):

[2022-07-01 14:31] SheIsBukki commented on #82
## 2022-01-01 Meeting Agenda
- 7:30 am PST / 4:30 pm WAT Day of Meeting:
- [x] Monday
- [ ] Friday

### Prework to prep for meeting
- [x] Weekly Label Check #
- [x] Recruiting Issues

### Recurring items: Happens on the Friday meeting
- [ ] Check issues in [Waiting for Response column of All Hack for LA Guides Tracker](https://github.com/orgs/hackforla/projects/3?card_filter_query=waiting+for+resp

[2022-07-01 14:38] ExperimentsInHonesty commented on #110
@nyarly The finished guides will be on the hackforla website, where they will be searchable, etc.

The guides in progress are searchable on the [Guide Tracker project board](https://github.com/orgs/hackforla/projects/3)

Creating a manual static index and then keeping it up to date, is a recipe for it not being accurate and a burden on the guides team.

If I have misunderstood what you are asking

[2022-07-01 14:47] ExperimentsInHonesty commented on #108
Hi @edwardsarah it looks like the monday is a holiday (4th of july).  So our next team meeting is Friday the 8th. Looking forward to seeing you there.  I'll get you access to the files today, that you don't currently have.

[2022-07-01 15:13] ExperimentsInHonesty commented on #108
looking forward to going over the comment in your [notes doc](https://docs.google.com/document/d/13h87nNLOOEwm9Gu6a5XO7p5I-UyBXBriw31BpxZr4IA/edit) with you. on 2022-07-08

[2022-07-08 14:31] edwardsarah commented on #108
Progress: Started reaching out to teams I don't have examples from yet, including Access the Data and Civic Tech Jobs. I've been cross referencing PMs listed on the website with ones active on github/slack which has taken a bit of extra time.
Blockers: Some teams aren't listed on the website (I think the Internship project, tables, and people depot) or don't have PMs listed (lucky parking sort of,

[2022-07-08 14:42] ExperimentsInHonesty commented on #94
@FeyiA

We have not heard from you since June 6th please provide the following update in this issue.
1. Progress: "What is the current status of your project? What have you completed and what is left to do?"
2. Blockers: "Difficulties or errors encountered."
3. Availability: "How much time will you have this week to work on this issue?"
4. ETA: "When do you expect this issue to be completed?"
5. P

[2022-07-08 14:47] ExperimentsInHonesty commented on #99
@Exonkenz  Please provide update using these guidelines
1. Progress: "What is the current status of your project? What have you completed and what is left to do?"
2. Blockers: "Difficulties or errors encountered."
3. Availability: "How much time will you have this week to work on this issue?"
4. ETA: "When do you expect this issue to be completed?"
5. Pictures (if necessary): "Add any pictures tha

[2022-07-08 14:51] SheIsBukki commented on #82
## 2022-01-08 Meeting Agenda
- 7:30 am PST / 4:30 pm WAT Day of Meeting:
- [x] Monday
- [ ] Friday

### Prework to prep for meeting
- [x] Weekly Label Check #
- [x] Recruiting Issues

### Recurring items: Happens on the Friday meeting
- [ ] Check issues in [Waiting for Response column of All Hack for LA Guides Tracker](https://github.com/orgs/hackforla/projects/3?card_filter_query=waiting+for+resp

[2022-07-08 16:03] SheIsBukki commented on #102
@DMLROG Please provide an update

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures (if necessary): "Add any pictures that will help illustrate what you are w

[2022-07-08 16:07] SheIsBukki commented on #106
@puruke1
We did not hear from you last week after we reached out, please provide the following update in this issue.

1. Progress: "What is the current status of your project? What have you completed and what is left to do?"
2. Blockers: "Difficulties or errors encountered."
3. Availability: "How much time will you have this week to work on this issue?"
4. ETA: "When do you expect this issue to be

[2022-07-08 21:49] Exonkenz commented on #99
The words in the [Glossary spreadsheet](https://docs.google.com/spreadsheets/d/175pDnr-izub36J0xya6m9rSfIico6XnsStUz9KHSWIA/edit#gid=0) has successfully been transferred to [WIKI](https://github.com/hackforla/guides/wiki/Glossary)

[2022-07-10 02:04] edwardsarah commented on #108
Added slides to gather examples presentation on searching slack channel files.
[beginning of new slides] (https://docs.google.com/presentation/d/1gkPpgnOPv7lBckoLic3HAA7z_IkeTnCw9ImQp9hkujM/edit#slide=id.g13bdf6a6b5a_0_3)

[2022-07-11 15:09] SheIsBukki commented on #91
Remove https://github.com/hackforla/guides/issues/94 on 2022-07-15
Remove https://github.com/hackforla/guides/issues/106 on 2022-07-15

[2022-07-11 15:10] SheIsBukki commented on #82
## 2022-01-11 Meeting Agenda
- 7:30 am PST / 4:30 pm WAT Day of Meeting:
- [x] Monday
- [ ] Friday

### Prework to prep for meeting
- [x] Weekly Label Check #
- [x] Recruiting Issues

### Recurring items: Happens on the Friday meeting
- [ ] Check issues in [Waiting for Response column of All Hack for LA Guides Tracker](https://github.com/orgs/hackforla/projects/3?card_filter_query=waiting+for+resp

[2022-07-11 16:26] edwardsarah commented on #108
since we didn't get to discuss the slides I added at the meeting today (7-11-22), it would be helpful if the team could look over them and leave any comments about where the instructions might be unclear or unnecessarily detailed so I can make edits

[2022-07-13 14:14] designer2209 commented on #100
- Progress: Currently I am gathering examples from the Project Board card links and will be updating my guide issue accordingly.

- Blockers: No blockers as of yet.

- Availability: This week I have about 4-5 hours

- ETA: Not sure, the project board card link shouldn't take too long, hopefully it'll be done before Monday.

[2022-07-15 14:34] SheIsBukki commented on #82
## 2022-01-15 Meeting Agenda
- 7:30 am PST / 4:30 pm WAT Day of Meeting:
- [x] Monday
- [ ] Friday

### Prework to prep for meeting
- [x] Weekly Label Check #
- [x] Recruiting Issues

### Recurring items: Happens on the Friday meeting
- [ ] Check issues in [Waiting for Response column of All Hack for LA Guides Tracker](https://github.com/orgs/hackforla/projects/3?card_filter_query=waiting+for+resp

[2022-07-15 14:37] SheIsBukki commented on #92
#### Offboard https://github.com/hackforla/guides/issues/106
- [ ] Close their onboarding issue and link here
   - [ ] Review all guide issues they are assigned to and remove them from those
     - [ ] Review their documents where they recorded their findings, to make sure we addressed or otherwise noted their observations
      - [ ] Reassign guide issues to team member(s), or add the Adopt Me la

[2022-07-15 14:40] SheIsBukki commented on #102
@DMLROG

We did not hear from you last week after we reached out, please provide the following update in this issue.
1. Progress: "What is the current status of your project? What have you completed and what is left to do?"
2. Blockers: "Difficulties or errors encountered."
3. Availability: "How much time will you have this week to work on this issue?"
4. ETA: "When do you expect this issue to be

[2022-07-15 14:41] SheIsBukki commented on #106
We have not heard from you via this issue or slack for 3 full weeks.  We are going to remove you from the team resources  You are welcome to come back, when you are ready, you can message us in the [#guide](https://hackforla.slack.com/archives/C028T9XU9S5) Slack channel to be re-added.

[2022-07-15 14:41] #106 closed

[2022-07-15 14:42] SheIsBukki commented on #85
@Evon081  Please provide an update

1. Progress: "What is the current status of your project? What have you completed and what is left to do?"
2. Blockers: "Difficulties or errors encountered."
3. Availability: "How much time will you have this week to work on this issue?"
4. ETA: "When do you expect this issue to be completed?"
5. Pictures (if necessary): "Add any pictures that will help illustra

[2022-07-17 00:06] Evon081 commented on #85
-SEAN SADA said he would be available from 20th of june, but didn't respond after that.
-I have reached out to jessica Cheng on the hfla cannel and we have a meeting on the 19th 8am pacific daylight time.

[2022-07-18 14:33] SheIsBukki commented on #82
## 2022-01-18 Meeting Agenda
- 7:30 am PST / 4:30 pm WAT Day of Meeting:
- [ ] Monday
- [x] Friday

### Prework to prep for meeting
- [x] Weekly Label Check #
- [x] Recruiting Issues

### Recurring items: Happens on the Friday meeting
- [ ] Check issues in [Waiting for Response column of All Hack for LA Guides Tracker](https://github.com/orgs/hackforla/projects/3?card_filter_query=waiting+for+resp

[2022-07-18 14:37] ExperimentsInHonesty commented on #94
@FeyiA Please provide update
1. Progress: "What is the current status of your project? What have you completed and what is left to do?"
2. Blockers: "Difficulties or errors encountered."
3. Availability: "How much time will you have this week to work on this issue?"
4. ETA: "When do you expect this issue to be completed?"
5. Pictures (if necessary): "Add any pictures that will help illustrate what

[2022-07-18 14:40] ExperimentsInHonesty commented on #102
@DMLROG We still have not heard from you.  We will remove you from the project on Friday if we don't hear from you by then.

Please provide the following update in this issue.

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this is

[2022-07-20 00:00] Evon081 commented on #85
-I had a meeting with Jessica Cheng on the 19th Pacific daylight time
- I have reached out to Sean Sada once more on the civiv tech index channel

[2022-07-21 19:43] edwardsarah commented on #108
Added new [slide](https://docs.google.com/presentation/d/1gkPpgnOPv7lBckoLic3HAA7z_IkeTnCw9ImQp9hkujM/edit#slide=id.g13dcfa1ba5a_0_7) on finding your counterpart on a project(specifically a project's PM) when the website is out of date. Also fixed the screenshots on the slides about checking a project's slack files, so they are in light mode instead of dark mode.

[2022-07-22 03:03] Evon081 commented on #85
I have successfully had meetings with the following teams and have annotated my findings.

VRMS - Josh Bubar
Open community survey - Kaylani and Ambareen
lucky parking - Greg Pawin
hack website - Jessica Cheng
Expunge Assist - Tom Demoner
Design Systems - Yasaman
Civic Tech Jobs - Danish
Access the Data - Lucy
100 automations - Henry Latourrette
311 data - Eric Cho

[2022-07-22 03:10] Evon081 commented on #85
Thanks for the reply. Kevin Phan has reached out to me from the team

[2022-07-22 12:00] DMLROG commented on #102
Progress: Looked through 8 more projects since the last update.
A more detailed read can be found in my comment under the issue.
https://github.com/hackforla/product-management/issues/80#issuecomment-1192493425
Blockers: Files I need access granted to.
Availability: 3 hours.
ETA: Can't say.
Pictures (if necessary): None.

[2022-07-22 13:51] FeyiA commented on #94
Progress: I have created a document in the shared drive and I'm working on fleshing out the document.
Blockers: None
Availability: 6hrs
ETA: Soon
Pictures (if necessary):

[2022-07-22 14:44] SheIsBukki commented on #82
## 2022-01-22 Meeting Agenda
- 7:30 am PST / 4:30 pm WAT Day of Meeting:
- [x] Monday
- [ ] Friday

### Prework to prep for meeting
- [x] Weekly Label Check #
- [x] Recruiting Issues

### Recurring items: Happens on the Friday meeting
- [ ] Check issues in [Waiting for Response column of All Hack for LA Guides Tracker](https://github.com/orgs/hackforla/projects/3?card_filter_query=waiting+for+resp

[2022-07-22 15:02] SheIsBukki commented on #92
#### Onboard @isaacmurna
- [ ] Slack channel membership
  - [ ] ```#guides```
- [ ] Add to Google calendar invites
   - [ ] Monday - Team meeting, Friday - Team meeting
- [ ] Add to team page on Wiki
- [ ] Google Drive
   - [ ] Add to drive as Manager
- [ ] Roaster
  - [ ] Send link
  - [ ] Team member adds themselves
  - [ ] Check for Public and note in roaster
  - [ ] Check for 2FA and note in r

[2022-07-22 15:27] isaacmurna opened #111 "Onboarding: Murna Isaac"
### Prerequisite
- You have done the steps in this wiki page for onboarding new team members https://github.com/hackforla/guides/wiki/Joining-the-Team

### Overview
We need an unbiased review of the gather presentation so that we can improve it.

#### Additional Details
You will be working on guide during this issue, but the purpose of this issue is to evaluate and improve the Gather Examples and

[2022-07-25 13:13] isaacmurna commented on #111
Progress: Little progress just because i am not sure what to do?"
Blockers: Non."
Availability: I cant say because i dont know what is expected of me.?"

[2022-07-28 15:34] designer2209 commented on #100
Progress: I haven't gone through all the project board card links yet, the ones after Green Earth Oasis are remaining.

Blockers: No blockers as of yet.

Availability: The coming week I have about 4 hours

ETA: By Tuesday (2nd August)

[2022-07-29 17:02] SheIsBukki commented on #94
@FeyiA Please provide an update

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures (if necessary): "Add any pictures that will help illustrate what you are wo

[2022-07-29 17:03] SheIsBukki commented on #85
@Evon081 Please provide an update

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures (if necessary): "Add any pictures that will help illustrate what you are

[2022-07-29 17:04] SheIsBukki commented on #99
@Exonkenz Please provide an update

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures (if necessary): "Add any pictures that will help illustrate what you are

[2022-07-29 17:05] SheIsBukki commented on #82
## 2022-01-29 Meeting Agenda
- 7:30 am PST / 4:30 pm WAT Day of Meeting:
- [ ] Monday
- [x] Friday

### Prework to prep for meeting
- [x] Weekly Label Check #
- [x] Recruiting Issues

### Recurring items: Happens on the Friday meeting
- [ ] Check issues in [Waiting for Response column of All Hack for LA Guides Tracker](https://github.com/orgs/hackforla/projects/3?card_filter_query=waiting+for+resp

[2022-07-29 17:09] SheIsBukki commented on #111
@isaacmurna Can you mention what specifically is it or a list of items that you need clarifications for?

[2022-07-29 19:14] Evon081 commented on #85
UPDATE:
 Id like to believe i have finished gathering examples, as i have had meetings with the various active teams i could find on slack, with exception of the civic tech index which bonny stated that there is no active PM.
However, after that information Kevin Phan reached out to me from the civ tech index slack channel but stopped responding to my messages when i replied.

[2022-08-01 01:48] edwardsarah commented on #105
Remaining edits needed for the presentation to go over on Monday (8/1):
- Slide 26 needs an explanation of why we look at issues to find examples/info for a guide
- Slide 36 needs an explanation of what we use the slack for / why we look at it to find examples
- Need to add a slide (or multiple slides) on how to properly document examples when you find them using Method 1, 3, 4, and 5
- Slack info

[2022-08-01 14:22] edwardsarah commented on #108
https://github.com/hackforla/guides/issues/105#issuecomment-1200589465 Updated action items for gather examples presentation

[2022-08-01 14:30] SheIsBukki commented on #82
## 2022-08-01 Meeting Agenda
- 7:30 am PST / 4:30 pm WAT Day of Meeting:
- [ ] Monday
- [x] Friday

### Prework to prep for meeting
- [x] Weekly Label Check #
- [x] Recruiting Issues

### Recurring items: Happens on the Friday meeting
- [ ] Check issues in [Waiting for Response column of All Hack for LA Guides Tracker](https://github.com/orgs/hackforla/projects/3?card_filter_query=waiting+for+resp

[2022-08-01 15:04] SheIsBukki commented on #99
Exon left a comment on Slack https://hackforla.slack.com/archives/C028T9XU9S5/p1659356437599359

"Hi Team. I'll be taking a break. I have a lot of engagements I'm handling currently. Thank you for your time."

[2022-08-01 15:10] SheIsBukki commented on #102
@ExperimentsInHonesty He needs access to these documents https://github.com/hackforla/product-management/issues/80#issuecomment-1192493425

[2022-08-01 15:13] SheIsBukki commented on #94
@FeyiA We did not hear from you last week after we reached out, please provide the following update in this issue.
1. Progress: "What is the current status of your project? What have you completed and what is left to do?"
2. Blockers: "Difficulties or errors encountered."
3. Availability: "How much time will you have this week to work on this issue?"
4. ETA: "When do you expect this issue to be co

[2022-08-01 15:16] SheIsBukki commented on #85
So, since you said Bonnie already told you that there's no active PM in the project, you can go ahead to conclude the Gather Example phase, and move to the next stage.

[2022-08-01 15:18] SheIsBukki commented on #101
@Tola-Fame Hi, should we be expecting you back soon?

[2022-08-01 15:40] designer2209 commented on #100
Started connecting with other teams on Slack, will keep a log of all the conversations that takes place in the slack channel in this [comment](https://github.com/hackforla/UI-UX/issues/24#issuecomment-1201304638)

[2022-08-04 00:45] isaacmurna commented on #111
Progress: i need time to read through the guide in order to give my honest review"
Blockers: Non."
Availability: 24 hours?"

[2022-08-05 14:31] edwardsarah commented on #108
Progress: made almost all of the remaining edits on the gather examples presentation. I'm hoping we can discuss whether it makes sense to have a section dedicated to how examples should be documented v. keeping each slide on documentation in its method section.
Blockers: Table of contents can't be updated until we're solid on all of the slides and have no more edits.

[2022-08-05 14:35] SheIsBukki commented on #82
## 2022-08-05 Meeting Agenda
- 7:30 am PST / 4:30 pm WAT Day of Meeting:
- [ ] Monday
- [x] Friday

### Prework to prep for meeting
- [x] Weekly Label Check #
- [x] Recruiting Issues

### Recurring items: Happens on the Friday meeting
- [ ] Check issues in [Waiting for Response column of All Hack for LA Guides Tracker](https://github.com/orgs/hackforla/projects/3?card_filter_query=waiting+for+resp

[2022-08-05 15:28] SheIsBukki commented on #91
Remove https://github.com/hackforla/guides/issues/94 on the 8th of August

[2022-08-07 22:20] edwardsarah commented on #105
Breakdown of Slides
**1-11:** What is a guide **[12 Slides]**
**12-20:** Picking a Guide & Setup (assigning yourself & adding projects) **[9 Slides]**
**22:** Where to Find Examples
**23-26:** Searching Project Wikis **[4 Slides]**
**27-31:** Issues Tab **[5 Slides]**
**32-37:** Project Board Cards **[6 Slides]**
**38-50:** Slack **[13 Slides]**
_(38-44)_ Searching Slack Threads **[7 Slides]**
_(4

[2022-08-08 14:30] edwardsarah commented on #108
Progress: Spent more time going through the presentation and trying to figure out what we could reasonably cut down to make it a more reasonable length. Notes here: https://github.com/hackforla/guides/issues/105#issuecomment-1207495696
Blockers: If we can discuss as a team what the constraints on the presentation are and what the most important things we feel need to be included are, I can make mo

[2022-08-08 14:34] SheIsBukki commented on #82
## 2022-08-08 Meeting Agenda
- 7:30 am PST / 4:30 pm WAT Day of Meeting:
- [ ] Monday
- [x] Friday

### Prework to prep for meeting
- [x] Weekly Label Check #
- [x] Recruiting Issues

### Recurring items: Happens on the Friday meeting
- [ ] Check issues in [Waiting for Response column of All Hack for LA Guides Tracker](https://github.com/orgs/hackforla/projects/3?card_filter_query=waiting+for+resp

[2022-08-08 14:49] SheIsBukki commented on #111
@isaacmurna Please provide an update

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures (if necessary): "Add any pictures that will help illustrate what you a

[2022-08-08 14:55] SheIsBukki commented on #105
@ExperimentsInHonesty Sarah finished with the action items in this issue, please review.

[2022-08-08 14:57] SheIsBukki commented on #101
@Tola-Fame please provide an update

[2022-08-10 21:56] isaacmurna commented on #111
Progress: I have read the document and written down my honest review on the google docs
Blockers: Non."
Availability:

[2022-08-10 22:10] DMLROG commented on #102
Progress: Looked through all projects now. Time for a detailed look at FoodOasis and GreenEarthOS.

Blockers: Same as last comment- The files I need access granted to.
Availability: 2 hours.
ETA: Can't say.
Pictures (if necessary): None.

[2022-08-12 14:35] SheIsBukki commented on #82
## 2022-08-12 Meeting Agenda
- 7:30 am PST / 4:30 pm WAT Day of Meeting:
- [x] Monday
- [ ] Friday

### Prework to prep for meeting
- [x] Weekly Label Check #
- [x] Recruiting Issues

### Recurring items: Happens on the Friday meeting
- [ ] Check issues in [Waiting for Response column of All Hack for LA Guides Tracker](https://github.com/orgs/hackforla/projects/3?card_filter_query=waiting+for+resp

[2022-08-13 18:01] edwardsarah commented on #105
8/12 we discussed breaking the slides into smaller presentations that are easier to navigate and focus on specific issues (as opposed to one presentation that covers absolutely everything). With a mind to videos that are <5mins and cover one topic at a time, here's how I think we should split them up:

1. **[4-20]:** What is a Guide & Picking your First guide
   a. Could also separate out Picking

[2022-08-14 12:06] Tola-Fame commented on #101
@SheIsBukki Apologies forb the ate response. Unfortunately. I can't continue with this for now. I've a lot going on. Thank you.

[2022-08-15 14:34] edwardsarah commented on #108
Progress: Updated table of contents and made suggestions on how to break the presentation into smaller slide decks. https://github.com/hackforla/guides/issues/105#issuecomment-1214198833
Blockers: couldn't remember what other examples we wanted for the slide on example responses.

[2022-08-15 14:36] SheIsBukki commented on #92
#### Offboard https://github.com/hackforla/guides/issues/94
- [ ] Close their onboarding issue and link here https://github.com/hackforla/guides/issues/94
   - [ ] Review all guide issues they are assigned to and remove them from those
     - [ ] Review their documents where they recorded their findings, to make sure we addressed or otherwise noted their observations
      - [ ] Reassign guide iss

[2022-08-15 14:41] SheIsBukki commented on #94
We have not heard from you via this issue or slack for 3 full weeks.  We are going to remove you from the team resources  You are welcome to come back, when you are ready, you can message us in the [#guide](https://hackforla.slack.com/archives/C028T9XU9S5) Slack channel to be re-added.

[2022-08-15 14:41] #94 closed

[2022-08-15 15:23] edwardsarah commented on #105
At the Monday meeting (8/15) Bukki and I split the gather examples presentation into smaller slide decks based on the second breakdown above.
[What is a Guide & Picking Your First Guide](https://docs.google.com/presentation/d/1WvHkRja7McjraE-QIjMSPluEOwBbLhFletlCYnzGLb0/edit?usp=sharing)
[Gathering Examples: Github [Wiki, Issues, Project Board, Resources Provided]](https://docs.google.com/presenta

[2022-08-15 15:30] edwardsarah opened #112 "Outstanding Items for the Segmented Gather Example Presentations"
### Overview
A list of action items for the smaller gather example presentations so they can be completed.

### Action Items
- [ ] Standardize formatting across presentations
- [ ] Update table of contents for each slide deck & relink correct slides
- [ ] Title slides for each smaller presentation
- [ ] Ending slides (Q&A, Contributors - basically 83 and beyond in original presentation)
- [ ] Upda

[2022-08-15 15:35] edwardsarah commented on #112
Moving forward from: https://github.com/hackforla/guides/issues/105#issue-1209810402

[2022-08-19 03:32] edwardsarah commented on #112
Do we want to make slack method 5 and resources provided method 4? The way the presentations are currently split up, it goes 1, 2, 3, 5 in the first presentation, and then method 4 in its own presentation.

[2022-08-19 09:22] designer2209 commented on #100
Progress: I have been able to connect with members of 100 Automations, 311 Data, Access the Data, BallotNav, Civic Opportunity, Civic Tech (Index, Jobs), Design System, Engage and Expunge Assist regarding what their Lead UX Researchers or Project Managers are using as a template or a guideline to present their UX research work. The updated communication summary is linked onto this [comment](https:

[2022-08-19 15:28] SheIsBukki commented on #112
Yes, I have edited them accordingly

[2022-08-19 15:29] SheIsBukki commented on #82
## 2022-08-19 Meeting Agenda
- 7:30 am PST / 4:30 pm WAT Day of Meeting:
- [ ] Monday
- [x] Friday

### Prework to prep for meeting
- [x] Weekly Label Check #
- [x] Recruiting Issues

### Recurring items: Happens on the Friday meeting
- [ ] Check issues in [Waiting for Response column of All Hack for LA Guides Tracker](https://github.com/orgs/hackforla/projects/3?card_filter_query=waiting+for+resp

[2022-08-19 17:45] designer2209 commented on #100
I've rephrased my messages on Slack that I've sent to the Lead UX researchers or PMs of the respective projects. Hopefully I was able to do it right this time, I have updated them in the [comment](https://github.com/hackforla/UI-UX/issues/24#issuecomment-1201304638) of my guide issues as well.

[2022-08-21 17:41] isaacmurna commented on #111
Progress: did you get the chance to look at my review?
Blockers: "What do i do next?."
Availability: "6hrs

[2022-08-22 14:17] edwardsarah commented on #108
Progress: Reviewed the different gather examples presentations and made edits to parts 4 & 5 to match the formatting of parts 1-3. I think the presentations should be done at this point, but we can review the 5 and decide if there are any further steps to take.
Haven't heard back from Feyi or Deborah on slack about their linkedin profiles (for the contributors page), so I will reach out via email.

[2022-08-22 14:29] SheIsBukki commented on #82
## 2022-08-22 Meeting Agenda
- 7:30 am PST / 4:30 pm WAT Day of Meeting:
- [ ] Monday
- [x] Friday

### Prework to prep for meeting
- [x] Weekly Label Check #
- [x] Recruiting Issues

### Recurring items: Happens on the Friday meeting
- [ ] Check issues in [Waiting for Response column of All Hack for LA Guides Tracker](https://github.com/orgs/hackforla/projects/3?card_filter_query=waiting+for+resp

[2022-08-22 15:05] SheIsBukki commented on #111
Yes, I did, we are working on breaking down the slide deck into 5 smaller sections so that it won't overwhelm users. Take a look at the 5 slide decks in this issue https://github.com/hackforla/guides/issues/112 and share your review about it

[2022-08-26 14:27] edwardsarah commented on #108
Progress: had some unexpected family issues come up this week, so I haven't made much progress since monday. My aim right now is to finish up reaching out to teams this week.
Not related to my particular issue, but I'm curious how many of the other 'in progress' issues on our project board are still actually in progress and if there are any steps we can take on those while we're waiting for review

[2022-08-26 14:37] SheIsBukki commented on #38
@ExperimentsInHonesty I assume that this issue is done?

[2022-08-26 16:40] edwardsarah commented on #82
2022-08-26: Just me and Prakhar were there today, so we called it pretty early.

[2022-08-28 02:56] edwardsarah commented on #112
switched the contents of the table of contents and the section contents in presentation 3 based on discussion we had last week. otherwise, I don't think there's currently any other edits we need to make to the presentation.

[2022-08-29 14:56] SheIsBukki commented on #112
Awesome!

[2022-08-29 15:01] SheIsBukki commented on #85
@Evon081 We did not hear from you last week after we reached out, please provide the following update in this issue.
1. Progress: "What is the current status of your project? What have you completed and what is left to do?"
2. Blockers: "Difficulties or errors encountered."
3. Availability: "How much time will you have this week to work on this issue?"
4. ETA: "When do you expect this issue to be

[2022-08-29 22:20] ExperimentsInHonesty commented on #112
There have been some changes made so the table on contents needs to be rechecked

[2022-08-30 15:36] ExperimentsInHonesty commented on #112
I used this clipart of a monitor on one of the slides https://hdclipartall.com/monitor-clipart-monitor-clipart-850_706-156447.html

[2022-08-31 14:23] edwardsarah opened #113 "Fix Formatting on Gather Examples Presentations"
### Overview
We need to update the formatting on all of the gather examples presentations so they match the new styles of part 1.

### Action Items
Remaining Formatting Fixes
- [x] #116
- [x] #117
- [x] #118 [dependency]
- [x] #119

### Complete Items
Import the HfLA Guides theme from Presentation 1
- [x] Part 2
- [x] Part 3
- [x] Part 4
- [x] Part 5

Update the Title Slide: should have Title "How

[2022-09-02 03:49] edwardsarah opened #114 "Style Guide for 'How to Make a Guide' Presentations"
### Overview
We need a style guide so the formatting & design are consistent across all new presentations.

### Action Items
- [ ] Review the formatting updates in #113
- [ ] Review the Gather Examples Part 1 presentation and identify any other features missing from #113 that should be included in a style guide
- [ ] Create the style guide on Figma

### Resources/Instructions
[Gather Examples & In

[2022-09-02 12:33] edwardsarah commented on #113
check that table of contents title is in size 28 font

[2022-09-02 15:42] ExperimentsInHonesty opened #115 "Fix slides with the same title"
### Overview
We need to clean up all the titles across all the slides, so that each slide title is unique so that it conveys what the person will learn or do.

### Action Items
- [ ] Go to each slide deck and review the slide titles.  Each one should be unique, while maintaining the required structure
- [x] Part 1
- [ ] Part 2
- [ ] Part 3
- [ ] Part 4
- [ ] Part 5

### Resources/Instructions
####

[2022-09-02 16:49] edwardsarah opened #116 "Fix Formatting: Guide Presentations Body Text in HfLA Dark Blue, 14pt Arial"
### Overview
#113 Sub issue for fixing the formatting of the body text of all slides in each presentation

### Action Items
In all Gather Examples presentations, put main text in the HfLA dark blue (#030d2d), Arial size 14 font where possible (please note exceptions in the comments below with link to the slide)

- [x] Part 2
- [x] Part 3
- [x] Part 4
- [x] Part 5

### Resources
[Gather Examples Pr

[2022-09-02 16:50] edwardsarah opened #117 "Fix Formatting: Step & Text Box Headings"
### Overview
#113 sub issue for fixing font of step headings

### Action Items
Any heading in a colored box should be in bold Oswald 16pt font.

- [x] Part 2
- [x] Part 3
- [x] Part 4
- [x] Part 5

### Resources
[Gather Examples Presentations](https://drive.google.com/drive/folders/1u8Rmm14g4iZmhb02gWd0P81QAJ6zCOAt?usp=sharing)

### Instructions
Here is an example of a text box with the wrong head

[2022-09-02 16:54] edwardsarah opened #118 "Fix Formatting: Color and Numbering of Steps in Gather Examples Presentations"
### Overview
We need to fix the coloring & numbering of step text boxes within the Gather Examples presentations.

### Details
- This is a sub issue of  #113

### Action Items
All steps within a section should have the same color box, should reset to step 1 when the section changes (dependency on reviewing when steps are needed or not, and applying https://github.com/hackforla/guides/issues/112

-

[2022-09-03 12:22] edwardsarah opened #119 "Fix Formatting: Text Should Be Directly in Shapes"
### Overview
Sub issue of #113 for moving all text from text boxes on top of colored shapes into the shapes directly.

### Action Items
When in a colored box, text should be written directly in a shape rather than a text box on top of a shape (except where doing that would cause the text to be too close to the edge of the page, see [this slide for example of exception](https://docs.google.com/pres

[2022-09-07 15:49] designer2209 commented on #114
Started working on a Design System draft, it is saved on the [figma file](https://www.figma.com/file/si18qqAAOsBJqT7A0GcKfP/Design-System-Draft?node-id=0%3A1) will move it to H4LA group once it's reviewed.

[2022-09-09 14:45] SheIsBukki commented on #82
## 2022-09-09 Meeting Agenda
- 7:30 am PST / 4:30 pm WAT Day of Meeting:
- [x] Monday
- [ ] Friday

### Prework to prep for meeting
- [x] Weekly Label Check #
- [x] Recruiting Issues

### Recurring items: Happens on the Friday meeting
- [ ] Check issues in [Waiting for Response column of All Hack for LA Guides Tracker](https://github.com/orgs/hackforla/projects/3?card_filter_query=waiting+for+resp

[2022-09-09 14:53] Evon081 commented on #85
Apologies for the late response and update.
I do not have any update as i do not know next steps after gathering examples.
Spoke to Bonnie about it at the last PM CoP meeting i attended and she said wed talk about it when next she's in our meeting.

[2022-09-10 22:08] edwardsarah commented on #116
[this slide](https://docs.google.com/presentation/d/15WxdSc_YFVLdytCZ-SxZaWPt8y6-OQTxJb8dcppZHVE/edit#slide=id.g1477dff5e05_0_110) doesn't totally fit with size 14 font. I currently just have it shifted a bit to the left to get all of the text to fit, but we can decide if we'd rather have it aligned with the previous slides and make the font smaller

[2022-09-10 22:24] edwardsarah commented on #116
[this slide](https://docs.google.com/presentation/d/1XWY-OMiomzpKw_aCL1JkdgAhqpgGDZ2bu_XuReTO1zw/edit#slide=id.g150e30fd48b_0_224) in Part 2 technically works with size 14 font, but it's a bit crowded

[2022-09-10 22:40] edwardsarah commented on #116
I think I have fixed all of the body text so that it's in the right color and size, but I'd appreciate it if someone else could check through just in case I missed something.

[2022-09-10 22:44] edwardsarah commented on #119
Correct on all presentations as of 9/10/22

[2022-09-10 22:50] edwardsarah commented on #112
The colored boxes in Part 5 don't seem to conform to the standards of colored boxes in the other presentations, can we discuss this on Monday?

[2022-09-10 22:53] edwardsarah commented on #117
question on formatting of [this slide](https://docs.google.com/presentation/d/1XWY-OMiomzpKw_aCL1JkdgAhqpgGDZ2bu_XuReTO1zw/edit#slide=id.g150e9519a04_1_360)

[2022-09-10 23:06] edwardsarah commented on #112
'Benefits for you as X' boxes
- Part 1 has one (sort of) on [slide 8](https://docs.google.com/presentation/d/1WvHkRja7McjraE-QIjMSPluEOwBbLhFletlCYnzGLb0/edit#slide=id.g117fac9d1a0_0_15)
- Part 3 has one on [slide 5](https://docs.google.com/presentation/d/1-Kg7yLRXsdGo4Ln8L-WiunOOO3Uc7TuXvH5afcp3AKQ/edit#slide=id.g13bf0e9d4d2_0_77)
- Parts 4 & 5 have none

Part 2 has 'benefits for x' boxes on each

[2022-09-12 15:30] edwardsarah commented on #112
Change all boxes to what to observe w dashed border

[2022-09-16 14:14] #119 closed

[2022-09-16 14:14] #116 closed

[2022-09-16 14:21] Evon081 commented on #85
UPDATE:
i am still waiting for instructions on next steps.

I have finished gathering examples for the issue https://github.com/hackforla/product-management/issues/50
I have had meetings with the various active teams i could find on slack, with exception of the civic tech index which bonny stated that there is no active PM.

[2022-09-16 14:49] #105 closed

[2022-09-23 15:05] ExperimentsInHonesty opened #120 "Weekly Label Check"
### Dependency
~2022-03-05~

### Overview
We need to perform a weekly check on issues to make sure they all conform to our label and milestone schema.

### Action Items
- [ ] Check the following to make sure that they are all 0/0 (Links for checking to make sure that all issues either have a ___ or a ____ missing label)
   - [ ] [Role]()
   - [ ] [size]()
   - [ ] [feature]()
     - [ ] Add any la

[2022-09-23 15:21] ExperimentsInHonesty commented on #120
Date: 2022-09-23
- [ ] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [ ] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [ ] role, ending at
   - [ ] size, ending at
   - [ ] features, ending at
   - [

[2022-09-23 15:57] ExperimentsInHonesty commented on #114
@designer2209 Please add this to the rules in the style guide for the decks
- All steps within a section should have the same color box, should reset to step 1 when the section changes

[2022-09-23 16:12] ExperimentsInHonesty commented on #85
@Evon081 I left you a comment on https://github.com/hackforla/product-management/issues/50#issuecomment-1256401281

[2022-09-28 14:40] Evon081 commented on #85
UPDATE: i am currently working on the summary that Bonnie talked  on
https://github.com/hackforla/product-management/issues/50#issuecomment-1256401281 about 5 days ago.
will have it ready by friday.

[2022-10-07 13:28] edwardsarah commented on #117
Exceptions/special cases:
[this slide](https://docs.google.com/presentation/d/1XWY-OMiomzpKw_aCL1JkdgAhqpgGDZ2bu_XuReTO1zw/edit#slide=id.g150e9519a04_1_360)
[and this slide](https://docs.google.com/presentation/d/1XWY-OMiomzpKw_aCL1JkdgAhqpgGDZ2bu_XuReTO1zw/edit#slide=id.g1530624dcad_8_19)

[2022-10-07 14:54] SheIsBukki commented on #120
Date:
- [ ] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- Yes, we updated the Size labels 0.25pt and 0.5pt
- [ ] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [ ] role, ending at
   - [ ] size, endin

[2022-10-07 15:08] ExperimentsInHonesty opened #121 "Image storage"
### Overview
We need a place to create urls for images so that we can use them in other places (wiki, figma gifs, etc.)

### Action Items
- [ ] Copy image into a comment
- [ ] indicate where it is used
- [ ] add any other helpful info (optional)

[2022-10-07 15:12] ExperimentsInHonesty commented on #121
Used in presentation: [Gathering Part 1 on the Moving the Guide Issue on Kanban slide](https://docs.google.com/presentation/d/1WvHkRja7McjraE-QIjMSPluEOwBbLhFletlCYnzGLb0/edit#slide=id.g117fac9d1a0_0_38)
![image1](https://user-images.githubusercontent.com/37763229/194587048-91daacd2-b048-4523-ae6b-fa386e2fecfa.gif)

[2022-10-07 15:31] #117 closed

[2022-10-13 00:43] edwardsarah commented on #112
@SheIsBukki did you have a chance to review the slide decks yet? if you leave a comment on parts where we need steps and don't have them yet I can help fix those slides for Friday

[2022-10-14 13:01] #115 closed

[2022-10-21 14:21] edwardsarah opened #122 "Branding: Civic Tech Structure vs Civic Tech Guide"
### Overview
We need to decide if finished guide videos will live on the civic tech structure or civic tech guide domain

### Action Items

### Resources/Instructions

[2022-10-22 10:32] DMLROG commented on #102
@ExperimentsInHonesty @SheIsBukki
https://github.com/hackforla/product-management/issues/80#issuecomment-1287755409

[2022-11-04 14:31] edwardsarah commented on #118
I believe everything has been fixed regarding this issue, if no other problems come up during today's meeting I will close this.

[2022-11-04 15:04] edwardsarah commented on #112
Part 1 has been checked completely and does not need another review.

[2022-11-11 03:23] edwardsarah commented on #112
Speaker Notes in Presentations:
none in part 1 or part 3, except the link to Bonnie's linkedin page that shows up on every Contributors page

**Part 2:**
- slide 19 (an exercise)
- slide 25 (link to an example issue used)
- slide 26 (an exercise)

**Part 4:**
- slide 5 (template text)
- slide 6 (links to example issues used)
- slide 7 (template text)
- slide 8 (links to example issued used)
- slid

[2022-11-11 16:02] ExperimentsInHonesty commented on #121
Wiki
![Toolkit page default](https://user-images.githubusercontent.com/37763229/201380985-a4a5edca-ddc9-4c89-b755-e2caf6ac926c.png)

[2022-11-14 15:55] edwardsarah opened #123 "Making a Guide Overview"
### Overview
Overview slide deck on the guides making process

### Action Items

- [ ] Outline all steps in making a guide
- [ ] Include links to any important resources
- [ ] Review resources to make sure they're good ones

### Resources/Instructions
[Draft overview slide deck](https://docs.google.com/presentation/d/1JTf5oZ70DwvAEd5_Tco-spgvmdsiYVu2kgd9tAyIuws/edit?usp=sharing)

[2022-11-18 15:43] ExperimentsInHonesty opened #124 "Icon Legend"
### Overview
We need an icon legend for any icons we intend to use in the site or guides

### Action Items
- [ ] Identify icons needed
- [ ] Use same format for how to display in wiki

### Resources/Instructions
[Bonnie's work icon wiki page content]

[2022-11-18 15:43] ExperimentsInHonesty commented on #124
##  Icon Legend

### Emojis
<details><summary>📑 = form</summary>

[code]
</details>

<details><summary>📁 = sheet</summary>

[code]
</details>
<details><summary>📧 = email</summary>

[code]
</details>
<details><summary>📄 = document/message</summary>

[code]
</details>
<details><summary>📝 = issue</summary>

[code]
</details>
<details><summary>📅 = calendar</summary>

[code]
</details>
<details><summar

[2022-11-21 03:49] edwardsarah commented on #112
![open_in_new_FILL0_wght400_GRAD0_opsz48](https://user-images.githubusercontent.com/64277558/202961348-43e91824-6ce7-43c7-a23a-a6095f90a1dd.png)
used in part 3

from [google material symbols](https://fonts.google.com/icons)

[2022-11-21 03:49] edwardsarah commented on #123
![view_kanban_FILL0_wght400_GRAD0_opsz48](https://user-images.githubusercontent.com/64277558/202961663-82afc46f-311f-449e-a111-ce153523896a.png)
icon used

from [google material symbols](https://fonts.google.com/icons)

[2022-11-21 16:13] ExperimentsInHonesty commented on #103
Revise the word practitioners to be practitioner and to the definition.  At Hack for LA we mean: A person who has experience using the process or practice here

[2022-11-21 16:40] ExperimentsInHonesty commented on #103
revise the definition for Community of practice to be : Communities of practice are groups of people who share a practice area (such as UI/UX, devops, data science, engineering, etc.).

[2022-11-21 16:53] edwardsarah opened #125 "Find Glossary Words Across Presentations"
### Overview
Look for glossary words across all presentations and see if it's practical to put 'Glossary: Word' in the footer.
If not, have some sort of icon for the glossary that people can click on. Bonnie prefers if it can be in the footer if feasible

### Action Items
Check all guides presentations for glossary words

- [ ] Part 1
- [ ] Part 2
- [ ] Part 3
- [ ] Part 4
- [ ] Part 5

### Resour

[2022-11-25 22:52] ExperimentsInHonesty opened #126 "Review old document created by HfLA Dev Lead in 2021"
### Overview
We need to review this old document to figure out if it has any relevant information for our current or future process.

### Action Items
- [ ] Review document
- [ ] Decide on next actions

### Resources/Instructions
- [Guide Page Creation Process Proposal To  Allow Faster Writing and Publishing of Guide Pages and Documentation](https://docs.google.com/document/d/149sSJH62fjsJRmERAkFk

[2022-11-28 15:50] #118 closed

[2022-11-28 15:51] #113 closed